
body{
    background-color: darkgray;
}
.image{
    position: relative;
    text-align: center;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin-bottom: 400px;
  }
  h1{
    text-shadow: 2px 2.5px 8px rgb(226, 220, 220);
  }
