
body{
    background-color: darkgray;
}
.image{
    position: relative;
    text-align: center;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin-bottom: 400px;
  }
  .nav-item :hover {
    color: black;
  }